<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.courtneyvu.electme">

    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".PhoneToWatchService"
            android:label="@string/app_name">
            <intent-filter>
                <action
                    android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service android:name=".PhoneListenerService"
            android:label="@string/app_name">
            <intent-filter>
                <action
                    android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".CongressionalOverview"
            android:label="@string/title_activity_congressional_overview"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.courtneyvu.electme.HomeScreen" />
        </activity>
        <activity
            android:name=".TweetScreen"
            android:label="@string/title_activity_tweet_screen"
            android:parentActivityName=".CongressionalOverview"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.courtneyvu.electme.CongressionalOverview" />
        </activity>
        <activity
            android:name=".DetailRep"
            android:label="@string/title_activity_detail_rep"
            android:parentActivityName=".CongressionalOverview"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.courtneyvu.electme.CongressionalOverview" />
        </activity>
        <meta-data
            android:name="com.google.android.geo.AIzaSyAsHCLsRIGop5rjIfKFE14fVKm64OzM4Hw"
            android:value="AIzaSyAsHCLsRIGop5rjIfKFE14fVKm64OzM4Hw"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="86f0eb363b95e40cadd4a28d28ff24a116a5b90d" />
    </application>

</manifest>
